:root{
	--maincolor:#46344E;
	--secondarycolor:#382a3f;

	--bordercolor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--mainShadow: 20px 20px 60px #1d1520, 
             -20px -20px 60px #46344E;

    --animationColor:#fff;
	

	--theme-border:#FFF;

	--previewBg:rgb(29, 21, 32, 0.8);
	--preview-shadow:#2b202f;


	--buttonColor:#8534a3;

	--introColor:#fff;
}