:root{
	--maincolor:#606B56;
	--secondarycolor:#515a48;

	--mainShadow: 20px 20px 60px #161914, 
             -20px -20px 60px #606B56;


	--animationColor:#fff;

	--bordercolor:#161914;

	--mainText:#fff;
	--secondaryText:#eee;

	--theme-border:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--preview-shadow:#2a2f25;


	--buttonColor:#669966;
	
	--introColor:#fff;
}